.account-container {
    width: 100%;
    display: grid;
    max-width: var(--app-width);
    grid-gap: 1rem;
    grid-template-areas:
        " title title "
        "past trips past trips"
        "explore trips explore trips"

}

.account-container h2 {
    color: #60103A;
    text-transform: capitalize;
}


.title {
    width: 100%;
    height: 15vh;
    grid-area: 'title';
    line-height: 60px;
    align-items: center;
    padding-top: 10vh;
}

.title h3,
.past-trips h3 {
    color: #60103A;
    margin: 0.5rem;
}


.past-trips {
    min-height: 50vh;
    grid-area: 'past-trips';
}

.explore-trips {
    grid-area: 'explore-trips';
    padding: 1rem;
    width: 100%;
    height: 300px;
    border-radius: 30px;
    background-color: lightgray;

}

.explore-trips h3 {
    text-align: left;
}