* {
  list-style-type: none;
  text-decoration: none;
  max-width: 800px;
}

.planner-view {
  text-align: center;
  
}

.cover-img {
  width: 100%;
  height: 200px;
  background-image: url("https://source.unsplash.com/500x400/?Helsinki");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.plan-title {
  display: flex;
  justify-content: center;
  position: fixed;
  background-color: red;
  width: 720px;
  height: 200px;
  top: 100px;
  margin: 0 40px;
  background-color: gray;
  border-radius: 30px;
}