.planner-view {
  display: flex;
  position: relative;
  max-width: var(--app-width);
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.planner-view h1,
h2 {
  color: black;
  padding: 10px 0;
}

.planner-view h3,
h4 {
  text-align: left;
}

.planner-view .cover-img {
  width: 100%;
  height: 30vh;
  background-image: url("https://source.unsplash.com/1600x1200/?trip");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.plan-title {

  width: 80%;
  margin: 0 10%;
  position: absolute;
  height: 30vh;
  top: 12vh;

  background-color: rgba(173, 216, 230, 0.741);
  border-radius: 30px;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plan-title:hover {
  background-color: lightblue;
}

.plan-info {
  align-items: center;
  text-align: left;
}

.plan-info label,
span {
  width: 100px;
}

.plan-info input {
  border-radius: 20px;
  padding: 0.3rem;
  margin: 0.5rem;
  border: none;
}

.plan-content {
  margin-top: 100px;
  text-align: left;
  padding: 0 20px;
}

.saved-places-wrapper {
  display: grid;
  grid-template-columns: auto auto;
}

.plan-note {
  width: 100%;
  resize: none;
  border-radius: 10px;
  padding: 5px;
  color: black;
}

.plan-button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 10px;
}

.plan-button button {
  width: 200px;
  border-radius: 20px;
  font-size: 24px;
  padding: 5px;
  color: white;
}

.save {
  background-color: green;
}

.save:active {
  background-color: rgb(16, 189, 16);
}

.delete {
  background-color: red;
}




@media screen and (max-width: 600px) {
  .plan-info {
    height: 25vh;
    width: 90vw;
    top: 80px;
  }

  .cover-img {
    height: 10vh;
  }

  .saved-places-wrapper {
    display: grid;
    grid-template-columns: auto;
  }
}
