* {
  list-style-type: none;
  text-decoration: none;
}

.profile-view {
  text-align: center;
}

.cover-img {
  width: 100%;
  height: 200px;
  background-image: url("https://source.unsplash.com/500x400/?Helsinki");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main {
  padding: 0 20px;
  overflow: auto;
  margin-bottom: 50px;
}

.intro {
  font-weight: bold;
  font-size: 2em;
}