.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
}

.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: gray;
  text-decoration: none;
  height: 85px;
  width: 25vw;
  color: var(--black);
  font-size: 1.3rem;
}

.nav-item:hover {
  background-color: yellow;
  cursor: pointer;
}

.nav-item.active {
  color: aqua;
}