.explore-view {
  text-align: center;
}

a,
li {
  list-style-type: none;
  text-decoration: none;
}

h1 {
  font-size: 2.5rem;
}


.explore-intro {
  padding: 1rem;
  height: 15vh;
}

.explore-intro h2 {
  padding-top: 9vh;
  font-weight: bold;
  font-size: 2em;
}

@media screen and (max-width: 900px) {
  .explore-intro h2 {
   padding-top: 5vh;
  }
  .explore-intro {
    height: 12vh;
  }
}