.account-container {
    display: grid;
    max-width: var(--app-width);
    align-items: center;
    min-height: 1000px;
}

.account-container h2 {
    color: #60103A;
    text-transform: capitalize;
}

.trips-container {
    width: 100%;
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
        " title title "
        " next-trips  explore-trips"
        "recent-trips recent-trips"
        "recent-trips recent-trips";
}

.title {
    width: 100%;
    height: 60px;
    grid-area: 'title';
    line-height: 60px;
    padding-top: 15vh;
    align-items: center;
}

.title h3 {
    color: #60103A;
}

.next-trips {
    min-height: 50vh;
    grid-area: 'next-trips';
}

.recent-trips {
    grid-area: 'recent-trips';
}

.explore-trips {
    grid-area: 'explore-trips';
    margin-top: 35px;
    padding: 0.5rem;
    width: 80%;
    height: 300px;
    border-radius: 30px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
}