.account-container {
    display: flex;
    max-width: var(--app-width);
    margin: auto;
    flex-direction: column;
    min-height: 1000px;
}

h3 {
    color: #60103A;
    text-align: center;
}

h2 {
    color: #60103A;
    text-transform: capitalize;
}

.trips-container {
    display: grid;
    grid-template-areas:
        " title title "
        " next-trips  explore-trips"
        "recent-trips recent-trips"
        "recent-trips recent-trips";
    grid-gap: 1rem;

    /*  grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 2fr 1fr; */
}

.title {
    width: 100vw;
    height: 60px;
    line-height: 60px;
    padding-top: 15vh;
    grid-area: 'title';
}

.next-trips {
    grid-area: 'next-trips';
    min-height: 300px;
}

.recent-trips {
    grid-area: 'recent-trips';
}

.explore-trips {
    grid-area: 'explore-trips';
    margin-top: 35px;
    padding: 0.5rem;
    width: 80%;
    height: 300px;
    border-radius: 30px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
}