.account-container {
    display: flex;
    max-width: 800px;
    flex-direction: column;
    min-height: 1000px;
    display: grid;
}

h3 {
    color: #60103A;
    text-align: center;
}

h2 {
    color: #60103A;
    text-transform: capitalize;
}

.title {
    width: 100vw;
    height: 60px;
    padding-top: 50px;
}

.trips-container {
    margin-top: 1rem;
    display: grid;
    grid-template-areas:
        "a c "
        "a c"
        "b b"
        "b b";
    grid-gap: 1rem;
    padding-top: 100px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 2fr 1fr;
}


.next-trips {
    grid-area: a;
    min-height: 300px;
}

.recent-trips {
    grid-area: b;
}

.explore-trips {
    grid-area: c;
    margin-top: 35px;
    padding: 0.5rem;
    width: 80%;
    height: 300px;
    border-radius: 30px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
}