.weather {
    background-color: var(--orange);
    max-width: 700px;
    max-height: 16vh;
    min-height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 50px;
    padding: 0 1.2rem;
    margin: auto;
}

.weatherElement {
    color: white;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

}

.weatherElement>p {
    margin: 0;
    padding: 0;
    text-align: left;
}

.nextForecast {
    /* TODO: button to trigger next day's forecast view, not yet functional*/
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    font-family: 'Material Symbols Outlined';
    background-color: white;
    color: var(--brightblue);
    font-size: 2.5rem;
    line-height: 50px;
    text-align: center;
    font-weight: bold;

}