
.welcome-user {
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin: 0;
  padding: 0;
 box-sizing: border-box;
}

cover-img {
  width: 100%;
  height: 20vh;
  background-image: url("https://source.unsplash.com/500x400/?me");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 75%;
  max-width: 700px;
  height: 200px;
  top: 100px;
  margin: 0 20px 0 20px;
  background-color: lightgray;
  border-radius: 30px;
  padding: 0 30px;
}

img#user-avatar {
  background-color: aqua;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.user-noti {
  font-size: 3em;
}

.user-hello {
  font-weight: bold;
  font-size: 1.5em;
}

.user-hello a {
  text-decoration: none;
  color: var(--yellow);
}

button.logout {
  background-color: var(--orange);
  color: white;
  width: 180px;
  border-radius: 30px;
  border: none;
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .user-noti {
    font-size: 2rem;
  }

  .user-info {
    height: 25vh;
    width: 90vw;
    top: 80px;
  }
  .cover-img {
    height: 10vh;
  }
}