<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Travel Planner</title>
  </head>
  <body>
    <div class="welcome">
      <div id="user-avatar">
        <img src="assets/user-david.jpeg" alt="user avatar" />
      </div>
      <div id="user-hello">
        <p>Hello, <br />David</p>
      </div>
      <div id="user-noti"><img src="" alt="noti bell" /></div>
    </div>

    <div class="nav">
      <div class="nav-item active"><a href="/">Explore</a></div>
      <div class="nav-item"><a href="/flight"></a>Flight</div>
      <div class="nav-item"><a href="/planner"></a>Planner</div>
      <div class="nav-item"><a href="/profile"></a>Profile</div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
