.mainnav {
  background-color: #139DEA;
  position: fixed;
  width: 100vw;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  height: 10vh;
  z-index: 3;
}

.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  width: 25vw;
  color: white;
  font-size: 1.3rem;
  height: 100%;

}

.nav-item:hover  {
  background-color: white;
  cursor: pointer;
  color:#139DEA;
}

.nav-item.active {
  color: #FAFF00;
}

@media screen and (max-width: 600px) {
  .mainnav {
    max-width: 420px;
  }

  .nav-item {
    max-width: 25vw;
    font-size: 1rem;
  }
}