.not-found {
    text-align: center;
    max-width: 800px;
    margin: auto;
    padding-top: 200px;
    background-image: url('/public/images/northern-lights.webp');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}

.not-found p {
    color: white;
}

h1 {
    color: white;
    font-weight: 800;
}

span {
    font-size: 2rem;

}