.welcome-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}

.welcome-user .cover-img {
  width: 100%;
  height: 30vh;
  background-image: url("https://source.unsplash.com/500x400/?me");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.user-info {
  display: flex;
  height: 25vh;
  max-height: 200px;
  min-height: 130px;
  width: 75%;
  max-width: 700px;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 15vh;
  margin: 0 20px;
  background-color: var(--palebluegray);
  border-radius: 30px;
  padding: 1rem 2rem;
}

img#user-avatar {
  background-color: aqua;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.user-noti {
  font-size: 2.5em;
}

.user-hello a {
  text-decoration: none;
  color: var(--yellow);
}

h3.black-lower {
  font-weight: bold;
  font-size: 1.5em;
}

button.logout {
  background-color: var(--orange);
  color: white;
  width: 160px;
  border-radius: 30px;
  height: 40px;
  font-size: 1.5rem;
  border: none;
  margin: 1rem 0;
  font-weight: 500;
}

@media screen and (max-width: 900px) {
  .welcome-user .cover-img {
    height: 15vh;
    width: 100vw;
  }

  .user-info {
    display: flex;
    height: 15vh;
    top: 5vh;
    width: 90vw;
  }
}

@media screen and (max-width: 450px) {
  .user-noti {
    font-size: 2rem;
  }

  .user-hello,
  h3.black-lower {
    font-size: 20px;
  }

  .user-info {
    height: 30vh;
    top: 20vh;
  }

  img#user-avatar {
    height: 50px;
    width: 50px;
  }
}