.saved-places {
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    color: black;
    height: 100px;
}
.saved-places img {
    width: 50%;
    height: 100%;
    border-radius: 20px 0 0 20px;
}
.saved-places-name {
    text-align: left;
    width: 70%;
    font-size: 20px;
}
.add {
    padding-right: 15px;
    cursor: pointer;
}
