.city-container {
  display: grid;
  grid-template-columns: 50% auto;
  grid-template-areas: "city-img city-info";
  background: var(--darkblue);
  border-radius: 20px;
  margin: 10px 0;
  color: #fac300;
}
.city-img img {
  width: 100%;
  height: 100%;
  max-height: 250px;
  border-radius: 20px;
  cursor: pointer;
}
.city-info {
  padding: 10px;
  font-size: 16px;
}
.city-name {
  font-weight: bold;
}
