.App {
  text-align: center;
  max-width: var(--app-width);
  margin: auto;
}

.trips{
  color:white;
  background: green;
}

.loading { 
  font-size: 2.5 rem;
  color: var(--darkblue);
  text-align: center;
  padding: 2rem;

}

.cover-img {
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}