.App {
  text-align: center;
  max-width: 800px;
  margin: auto;
}

.nav {
  position: fixed;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(4, auto);
  text-align: center;
}
.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  height: 50px;
  width: 25vw;
}
.nav-item button {
  text-decoration: none;
  color: white;
}
.nav-item:hover {
  background-color: yellow;
  cursor: pointer;
}
.active {
  color: aqua;
}
.trips{
  color:white;
  background: green;
}

.loading { 
  font-size: 2.5 rem;
  color: var(--darkblue);
  text-align: center;
  padding: 2rem;

}

.cover-img {
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}