* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --yellow: #fac300;
  --black: #0e1d30;
  --lightblue: #30507e;
  --darkblue: #003272;
  --red: #aa1316;
  --bcred: #60103a;
  --bcpink: #f7e1d3;
  --font: "Poppins", "Courier New", Courier, monospace;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}